@media screen and (max-width: 576px) {
    .bg {
        background-repeat:repeat-y;
        background-size: cover;
        background-attachment: fixed;
        height: 1000px;
        width: 2000px;
        opacity: 0.4;
        position: relative;
        top: 50%;
        left: 0px;
        margin-left: -10px;
        margin-top: -10px;
        
        
            
        }
    .h3 {
        display: block;
       
}
}