* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edeeed;
}


.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop {
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 90% 10% 63% 37% / 60% 58% 42% 40%;
    background-color: transparent;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.1),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -60px 50px rgba(255,255,255,0.9);
}

.drop::before {
    content: '';
    position: absolute;
    top: 330px;
    left: 60px;
    background: #fff;
    width: 20px;
    height: 30px;
    border-radius: 27% 73% 12% 88% / 33% 47% 53% 67%;
}

.drop::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 70px;
    -moz-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -o-transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    transform:rotate(20deg);
    background: #fff;
    width: 30px;
    height: 200px;
    border-radius: 100% 0% 100% 0% / 74% 13% 87% 26%;
    
}